<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= autor %></title>
</head>
<body>
<h1><%= autor %></h1>
<img src="/images/autor.jpg" />
<a href="/quizzes">Quizzes</a>
<a href="/">Inicio</a>


</body>
</html>
