<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Lista de Quizzes</title>
</head>
<body>
<% var z = a[quizzes] %>
   <% for(var i=0; i<z.length; i++) { %>
           <li>
          <%= z[i].Tweet %>
           </li>
</body>
</html>
