
<h1>Lista de quizzes:</h1>

<table>
    <% for (let i in quizzes) { %>
    <% let quiz = quizzes[i]; %>
    <tr>
        <td>
            Pregunta número
            <%= quiz.answer%>:
            <%= quiz.question%>
        </td>
    </tr>


    <% } %>
</table>
<body>      <a href="/credits">Autores</a> 
<a href="/">Inicio</a>
</body>